@model CostumeCraze.Models.UserProfile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Costume Craze!</h1>
    <h2 class="display-4">Welcome and Happy Halloween! We hope you find everything you're looking for!</h2>
</div>
